.orderContainer {
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 10px; 
    padding: 1em;
    position: relative;

    .addOrder {
        position: absolute;
        bottom: 1.5em;
        right: 1em;
        padding: .5em;
        outline: none;
        cursor: pointer;
    }

    .innerDiv {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
        padding: 0.5em 1.5em;
        text-align: center;
        cursor: pointer;
        position: relative;
        max-width: 100%;

        h2 {
            font-size: 1.6rem;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            word-wrap: break-word;
        }

        h3 {
            font-size: 1.3rem;
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            word-wrap: break-word;
        }

        .innerDivFooter {
            display: flex;
            box-shadow: none;
            justify-content: center;
            padding: 6px 0;
            button {
                cursor: pointer;
                color: white;
                font-size: 1.2rem;
                font-weight: 400;
            }
            button:hover {
                text-decoration: underline;
                font-style: italic;
            }
        }
    }
}

.filter {
    position: absolute;
    bottom: 1.5em;
    right: 10em;
    padding: .5em;
    outline: none;
    cursor: pointer;
}