.main_nav_container {
    flex-basis: 76%;
    flex: 1;
    display: flex;
    align-items: center;
    height: 50px;

    h2 {
        flex: 1;
        padding: 0 26px;
        font-size: 1.4em;
        font-weight: 1000;
        letter-spacing: 1px;
        color: var(--primary-color);
    }

    .search_container {
        flex: 1;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .user_container {
        flex: 1;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 26px;

        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            margin-left: 6px;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            h3 {
                color: #E06900;
                font-size: 1.4rem;
                font-weight: 600;
                padding: 0 10px;
            }

            button {
                border: none;
                background: none;
                text-decoration: underline;
                cursor: pointer;
                padding: 0 10px;
                font-size: 1.2rem;
            }

            button:hover {
                color: #E06900;
            }
        }
    }
}


