.navbar_container {
    display: flex;
    flex-direction: row;
    height: 50px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.37);
}

.logo_container {
    flex-basis: 19%;
    background: var(--primary-color);
    height: 50px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.37);
    display: flex;
    justify-content: center;
    align-items: center;
}