.sidebar_container {
    float: left;
    width: 24%;
    height: calc(100vh - 50px);
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    overflow: auto;

    a {
        display: flex;
        justify-content: flex-start;
        // padding-left: 20px;
        align-items: center;
        border: none;
        font-size: 1.4rem;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 1em 1em;
        letter-spacing: .14em;
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            word-wrap: break-word;
        }
    }

    a:hover {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
        border-left: 4px solid #E06900;
    }
}

.needhelp_container {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    margin: 1em;
    height: 160px;
    padding: 1.5em;
    border-radius: 20px;

    h2 {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1.4rem;
    }
}

.sidebar_top {
    flex: 2;
}

.sidebar_bottom {
    flex: 1;
}