@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Arima Madurai', cursive;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: #743f7e;
}

.content_right_container {
  float: right;
  width: 76%;
  text-align: center;
  height: calc(100vh - 50px);
  position: relative;
}


/* begin global popup animation */
.popup-enter {
  opacity: 0;
  transform: translateY(-50%);
}

.popup-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}

.popup-exit {
  opacity: 1;
  transform: translateY(0);
}

.popup-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 300ms, transform 300ms;
}
/* end global popup animation */

