@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Arima Madurai', cursive;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: #743f7e;
  --secondary-color: #E06900;
}

.content_right_container {
  float: right;
  width: 81%;
  max-width: 81%;
  text-align: center;
  height: calc(100vh - 50px);
  position: relative;
  overflow: auto;
}


/* begin global popup animation */
.popup-enter {
  opacity: 0;
  transform: translateY(-50%);
}

.popup-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}

.popup-exit {
  opacity: 1;
  transform: translateY(0);
}

.popup-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 300ms, transform 300ms;
}
/* end global popup animation */

/* Start global button */
.btn_delete {
  border: none;
  background: rgba(0,0,0, .3);
  padding: .4em .8em;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 3px;
}

.btn_perform {
  border: none;
  box-shadow: 0px 0px 5px rgba(0,0,0, .25);
  padding: .4em .8em;
  background: var(--secondary-color);
  border-radius: 3px;
  margin: 0 3px;
}
/* End global button */

/* Begin loading global */
.loadingImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}
/* End loading global */

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl input[type="text"] {
  margin: 0;
}

.mapboxgl-ctrl .mapboxgl-ctrl-geocoder {
  border: 1px solid ;
  width: 100%;
  padding: 0;
}

.mapboxgl-ctrl svg {
  display: none;
}

/* Error message */
.error_msg {
  color: red;
  font-size: 1.3rem;
  font-weight: 600;
}

